.select-none {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.datatable {
    &.center {
        .p-datatable .p-datatable-tbody > tr > td {
            text-align: center;
        }
    }
    .p-datatable {
        .p-datatable-thead {
            &>tr>th {
                    background: #e7e7e7 !important;
                }
        }
    }
    .p-column-header-content {
        justify-content: center;
    }
    .p-datatable.p-component.p-datatable-responsive-scroll.p-datatable-sm {
        display: flex;
        flex-direction: column-reverse !important;

        .p-paginator {
            display: flex;
            justify-content: flex-end !important;
            .p-paginator-page.p-paginator-element.p-link.p-highlight {
                border: 1px solid #999;
            }
        }
    }
}
.dp__month_year_wrap {
    flex-direction: row-reverse;
}

.w-fill{
    width: -webkit-fill-available;
}

.h-fill{
    height: -webkit-fill-available;
}
.col-data{
    text-align: left;
    padding-inline-start: 2px;
    font-size: 14px;
}

.company-info-btn{
   min-width: 120px !important;
}
.department-info-btn{
    min-width: 120px !important;
    padding: 4px 8px !important;
}

table td{
    padding: 4px !important;
}

.label-circle{
    background-color: #0f7abc;
    width: 40px;
    border-radius: 50%;
    margin-inline-start: 4px;
    padding: 2px;
    text-align: center;
    color: rgb(224, 224, 224);
}
.employeer-dialog-btn{
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 3px;
    color: white;
}


.noto-serif-jp-regular {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
}

table th{
    padding-inline: 10px;
}
